@import "./navbar";
@import "./settings";
@import "./background";
@import "./sidebar";
@import "./hocs";
@import "./logo";
@import "./dropdown";
@import "./bookcard";

.paper {
    background-color: $white;
    padding: 5px;
    padding-bottom: 0%;
    border-radius: 5px;
}

.dark .paper {
    background-color: $bg-card;
}