@import "./chart/apexchart";
@import "./course/course-card";
@import "./library/book-card";
@import "./timetable/timetable-card";
@import "./university/holiday-card";
@import "./university/pricing-card";
@import "./class/student-card";
@import "./lecture/lecture-card";

.paper {
    background-color: $white;
    padding: 5px;
    padding-bottom: 0%;
    border-radius: 5px;
}

.dark .paper {
    background-color: $bg-card;
}
