.input__Wrapper {
    position: relative;
    width: 100%;
    border: 2px solid $red;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    input {
        padding: 7px 15px;
        border: none;
        outline: none;
        background-color: transparent;
        flex: 1;
    }
    label {
        position: absolute;
        top: 7px;
        left: 15px;
        pointer-events: none;
        transition: all 0.2s linear;
        color: $red;
    }
    span {
        // position: absolute;
        // top: 7px;
        // right: 15px;
        color: $red;
        background-color: $white;
        padding: 0 15px;
    }
    &.valid {
        border: 2px solid $green;
        label {
            color: $green;
        }
        span {
            color: $green;
        }
    }
    &.invalid {
        border: 2px solid $red;
        label {
            color: $red;
        }
        span {
            color: $red;
        }
    }
    input[type="date"] ~ span {
        padding-left: 0%;
    }
    &.focus label {
        font-size: 10px;
        padding: 0 2px;
        top: -9px;
        left: 5px;
        background-color: $white;
        transition: all 0.2s linear;
    }
}
