.selectUser__Container {
    width: 100%;
    label {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }
    div {
        position: relative;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-bottom: 15px;
        background-color: $light-background;
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
            border: none;
            outline: none;
            background-color: transparent;
            flex: 1;
            margin-bottom: 0%;
            padding: 7px 15px;
            font-size: 16px;
        }
        span {
            color: $green;
            background-color: transparent;
            padding: 0 15px;
        }
        &.valid {
            border: 1px solid transparent;
            span {
                color: $green;
            }
        }
        &.invalid {
            border: 1px solid $red;
            span {
                color: $red;
            }
        }
        input[type="date"] ~ span, input[type="time"] ~ span {
            padding-left: 0%;
        }
    }
}