.activityDetail__Wrapper {
    .activityDetail__Container {
        padding: 15px;
        .activityDetail__ActionBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $light-background;
            padding: 10px;
            border-radius: 4px;
            .left {
                display: flex;
                align-items: center;
                gap: 20px;
                .activityDetail__Minitab {
                    h6 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
            .right {
                .activityDetail__Buttons {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    button {
                        background-color: $blue;
                        color: $white;
                        padding: 5px 20px;
                        font-size: 14px;
                        text-transform: capitalize;
                        &.red {
                            background-color: $red;
                        }
                    }
                }
            }
        }
        .activityDetail__Tabs {
            margin-top: 20px;
        }
    }
}