.activities__Wrapper {

    .title{
        padding: 10px;
        padding-bottom: 0%;
    }
    .activities__Header{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left, .right {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
                background-color: $light-background;
                color: $blue;
                padding: 7px 20px;
                text-transform: capitalize;
                &.active {
                    background-color: $blue;
                    color: $white;
                }
            }
            .red {
                background-color: $red;
                color: $white;
            }
        }
        .right button {
            background-color: $blue;
            color: $white;
        }
    }
    .data-grid {
        padding: 10px;
    }

    .lectures {
        padding: 10px;
        .upcoming {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }
    }
}

.tag {
    font-size: 12px;
    background-color: $green;
    border-radius: 5px;
    padding: 5px;
    color: $white;
    &.delete {
        background-color: $red;
    }
}

.icon-hover {
    &:hover {
        background-color: $blue!important;
        color: $white;
    }
}