.addClass__Wrapper{
    // height: 0vh;
    .header{
        padding: 10px;
        padding-bottom: 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background-color: $blue;
            color: $white;
            padding: 7px 20px;
            text-transform: capitalize;
        }
    }

    .addClass__Stepper {
        margin-top: 30px;
    }

    .addClass__Form {
        // min-height: 70vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .addClass__Suggestions {
            ol li {
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: 500;
            }
        }
        .addClass__Buttons{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                background-color: $blue;
                color: $white;
                font-size: 14px;
                text-transform: capitalize;
                padding: 7px 20px;
            }
        }
    }
}