.classes__Wrapper {

    .header{
        padding: 10px;
        padding-bottom: 0%;
    }
    .classes__Header{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left, .right {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
                background-color: $light-background;
                color: $blue;
                padding: 7px 20px;
                text-transform: capitalize;
                &.active {
                    background-color: $blue;
                    color: $white;
                }
            }
            .red {
                background-color: $red;
                color: $white;
            }
        }
        .right button {
            background-color: $blue;
            color: $white;
        }
    }
    .data-grid {
        padding: 10px;
        height: 100%;
    }
}

.tag {
    font-size: 12px;
    background-color: $green;
    border-radius: 5px;
    padding: 5px;
    color: $white;
    &.delete {
        background-color: $red;
    }
    &.pending {
        background-color: $yellow;
    }
    &.fullfilled {
        background-color: $blue;
    }
}

.icon-hover {
    &:hover {
        background-color: $blue!important;
        color: $white;
    }
}

.icon-hover-red {
    &:hover {
        background-color: $red!important;
        color: $white;
    }
}


// dark settings
.dark .classes__Wrapper {
    color: $white;
    .classes__Header{
        .left, .right {
            button {
                background-color: $bg-card-sub;
                color: $blue;
                &.active {
                    background-color: $blue;
                    color: $white;
                }
            }
            .red {
                background-color: $red;
                color: $white;
            }
        }
        .right button {
            background-color: $blue;
            color: $white;
        }
    }
}

.dark .icon-hover {
    color: $white;
    &:hover {
        background-color: $blue!important;
        color: $white;
    }
}

.dark .icon-hover-red {
    color: $white;
    &:hover {
        background-color: $red!important;
        color: $white;
    }
}

.dark .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root,
.dark .css-rtrcn9-MuiTablePagination-root {
    color: $white;
}
.dark .css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    color: $bg-card-sub;
}

.css-levciy-MuiTablePagination-displayedRows {
    margin: 0%;
}