@import "./dashboard";
@import "./query";
@import "./lectures";
@import "./classes";
@import "./activities";
@import "./chat";

.section__Wrapper {
    padding: 10px 20px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            h4 {
                font-weight: 400;
            }
            .breadcrumps {
                font-size: 12px;
                color: $gray;
            }
        }
        .right {
            font-size: 45px;
        }
    }

    main {
        margin-top: 20px;
    }
}