.placements__Wrapper {
    .placements__Filters {
        background-color: $white;
        padding: 10px;
        border-radius: 4px;
        box-shadow: $shadow-light;
        position: sticky;
        top: 10px;
        left: inherit;
        h4 {
            margin-bottom: 0%;
            font-size: 18px;
        }
        .placements__FilterGroup {
            padding: 10px 5px;
            .range{
                padding: 0 10px;
            }
        }
    }
}

.jobPosting__Wrapper {
    background-color: $white;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: $shadow-light;
    transition: all .2s linear;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        box-shadow: $shadow;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6 {
            margin-bottom: 0%;
        }
        p {
            margin-bottom: 0%;
            font-weight: 400;
            font-size: 14px;
        }
    }
    .body {
        .jobPosting__DisplayUnit {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 7px;
            padding: 10px;
            p {
                margin-bottom: 0%;
                font-size: 12px;
            }
        }
    }
    .jobPosting__Tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        margin: 10px 0;
        p {
            background-color: $gray;
            border-radius: 4px;
            font-size: 10px;
            padding: 4px;
            color: $white;
            margin: 0%;
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right {
            button {
                background-color: $blue;
                color: $white;
                padding: 7px 20px;
                text-transform: capitalize;
                font-size: 14px;
            }
        }
    }
}