@import "./variables";

@import "./fonts/index";

@import "./common/index";
@import "./components/index";
@import "./modules/index";
@import "./pages/index";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $light-background;
    &.dark {
        background-color: $bg-dark;
    }
}