.assignment__Wrapper {
    .header{
        padding: 10px;
        padding-bottom: 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right {
            button {
                background-color: $blue;
                color: $white;
                text-transform: capitalize;
                padding: 7px 20px;
                font-size: 14px;
            }
        }
    }
    .assignment__Container {
        padding: 10px;
        .assignment__FormButtons {
            display: flex;
            justify-content: flex-end;
            button {
                background-color: $blue;
                color: $white;
                text-transform: capitalize;
                padding: 7px 20px;
                font-size: 14px;
            }
        }
        .assignment__Data {
            margin-top: 30px;
        }
    }
}